.descriptionSchool-content {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 120px;
}

.descriptionSchool-textContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 480px;
}

.descriptionSchool-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.aboutMain-descriptionSchool {
  margin-bottom: 200px;
}
