.header {
  width: 100%;
  min-height: 100vh;
  background-image: url("./about/head-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-title {
  font-size: 150px;
  font-family: Raleway;
  font-weight: 700;
}
.header-text {
  font-size: 20px;
  font-weight: 400;
}
