.navigation {
  position: absolute;
  display: flex;
  top: 0;
  background: #0d302c;
  width: 100%;
  justify-content: center;
  height: 150px;
  align-items: center;
  opacity: 70%;
}
.navigation-logo {
  margin-right: 185px;
  width: 60px;
}
.navigation-list {
  display: flex;
  list-style: none;
  gap: 45px;
  color: #fff;
  font-size: 24px;
  align-items: center;
}
.navigation-item {
  font-size: 24px;
  text-wrap: nowrap;
}
