.navigation {
  position: absolute;
  display: flex;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.navigation-logo {
}
.navigation-list {
  display: flex;
  list-style: none;
  gap: 45px;
  color: #fff;
  font-size: 24px;
}
.navigation-item {
}
