.youWillReceive-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 74px;
}

.subheader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
}
.subheader {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
}
.subheader-img {
  width: 55px;
  height: 50px;
}
.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.info {
  width: 300px;
}
.youWillReceive-wave-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
  gap: 220px;
}
.youWillReceive-wave-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.waveAndPercent {
  display: flex;
  gap: 10px;
}
.percent {
  font-size: 24px;
  font-weight: 400;
}
.youWillReceive-waveText {
  width: 600px;
}
.text {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
