.servicePackages-title {
  margin-bottom: 250px;
}

.servicePackages {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.packages {
  width: 360px;
  height: 577px;
  padding: 45px;
  background-color: azure;
}
.servicePackages-subheader {
  margin-bottom: 60px;
}
.packages-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 140px;
}
.packages-item {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #242121;
}
.servicePackages-subheader {
  font-weight: 400;
  font-size: 36px;
  color: #01353e;
}
